html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c1d95;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    min-height: 100vh;
    padding-top: 100px;
    background-image: url('./assets/bg.png');
    background-position: top+center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: -1; 
}


.formWrapper {
    width: 100%;
    max-width: 800px;
    padding: 24px;
    position: relative;
    z-index: 2;
}



/* Header style */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
  z-index: 10;
}



.logoGroup {
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.logoOpsteam {
    height: 60px;
}

.badgeAws {
    height: 60px;
}


.menuWrapper {
  margin-right: 100px;
}

@media (max-width: 768px) {
  .logoGroup {
    margin-left: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .menuWrapper {
    margin-right: 16px;
  }

  .logoOpsteam,
  .badgeAws {
    height: 40px;
  }
}

.menuIcon {
    background: none;
  border: none;
  font-size: 19px;
  cursor: pointer;
  color: white;
  position: relative;
}

.fullscreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 20, 20, 0.85);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  z-index: 999;
  color: white;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 24px;
  font-weight: bold;
}

.menuItem {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.menuItem:hover {
  transform: scale(1.05);
}

.closeButton {
  position: fixed;
  top: 15px;
  right: 25px;
  width: 55px;
  height: 45px;
  font-size: 25px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0;
}

/* Form content */
.formContent {
    position: relative;
    z-index: 10;
}

@media (max-width: 480px) {
  .title {
    font-size: 22px;
  }

  .button {
    padding: 12px 32px;
    font-size: 14px;
  }

  .input,
  .textarea {
    padding-left: 40px;
    font-size: 14px;
  }

  .fieldIcon {
    font-size: 1.1rem;
    left: 12px;
  }
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 32px;
}

.formFields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input,
.textarea {
    width: 100%;
    padding: 12px 16px 12px 48px;
    border-radius: 9999px;
    background-color: rgba(243, 232, 255, 0.7);
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
}

.field {
    position: relative;
    margin-bottom: 16px;
}

.fieldIcon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 1.3rem;
    color: #4c1d95;
    z-index: 2;
}


.input:focus,
.textarea:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.6);
}

.input::placeholder,
.textarea::placeholder {
    color: rgba(76, 29, 149, 0.6);
}

.textarea {
    min-height: 100px;
    border-radius: 24px;
    resize: vertical;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.button {
    padding: 12px 64px;
    border-radius: 9999px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}

.button:hover {
    background-color: rgba(91, 33, 182, 0.6);
}

.status {
    margin-top: 16px;
    text-align: center;
    font-size: 0.875rem;
    color: #fff;
    font-weight: 500;
}

@media (max-width: 768px) {

    .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.button {
    padding: 12px 64px;
    margin-left: 5%;
    border-radius: 9999px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}

    .input,
    .textarea {
    width: 100%;
    padding: 12px 16px 12px 48px;
    border-radius: 15px;
    background-color: rgba(243, 232, 255, 0.7);
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
}
    .formWrapper {
        padding: 16px 80px 12px 16px;
        width: 100%;
        max-width: 100%;
        z-index: 2;
    }

    .title {
        font-size: 28px;
    }

}
.pinAlert {
  background-color: #222;      /* Fundo escuro */
  color: white;                /* Texto branco */
  padding: 1rem;               /* Espaçamento interno */
  border-radius: 8px;          /* Cantos arredondados */
  margin-top: 1rem;            /* Espaço acima */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Sombra leve */
  font-size: 1rem;             /* Tamanho de fonte confortável */
}

.input2 {
    width: 90%;
    padding: 12px 16px 12px 48px;
    border-radius: 15px;
    background-color: rgba(243, 232, 255, 0.7);
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
}